/* reset */
/* *=全部 */
* {
    /* 外距 m0 */
    margin: 0;
    /* 內距 p0 */
    padding: 0;
}
body {
    background: #eee;
}
/* 指定的方式 */
/* class = . */
/* id = # */

.banner {
    /* background-image = bgi */
    /* url = 路徑 */
    background-image: url(./img/banner_bg.jpg);
    /* background-size = bgs */
    /* cover = 照片100%呈現 */
    background-size: cover;
    /* 寬度 w100p */
    width: 100%;
    /* 高度 h100vh vh=螢幕高度 */
    height: 100vh;
}
nav {
    padding: 10px 0;
}
nav > a {
    /* 移除底線 */
    text-decoration: none;
    /* 1. 色碼 #dddee3 */
    /* 2. 直白的表示方式 red */
    color: #fff;
    /* font-size = fz */
    /* 預設16px */
    font-size: 24px;
    /* 外距 */
    /* 1.上 右 下 左 */
    /* margin: 5px 5px 10px 15px; */
    /* 2. 上下 左右 */
    margin: 0 20px;
    /* 3. 上下 左右 下 */
    /* margin: 10px 15px 6px; */
    /* 4. 全部 */
    /* margin: 20px; */
}
.box {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    margin: 20px 50px;
    padding: 10px 20px;
}
.banner_data {
    color: #fff;
    /* px=像素 */
    width: 600px;
    /* 文字置中 */
    text-align: center;
    /* 區塊置中/萬能置中 */
    /* m0-auto */
    margin: 0 auto;
    margin-top: 400px;
}
.banner_data > hr {
    margin: 10px 0;
}
.banner_data > h1 {
    /* fz 文字大小 */
    font-size: 40px;
}
/* html css js */
.news {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
/* flex grid */
.new_main {
    display: flex;
    /* 元素之間的距離 */
    gap: 30px;
}
.new_card {
    width: 550px;
    background: #fff;
    padding-bottom: 20px;
}
.new_card > img {
    width: 100%;
}
.card_data {
    padding: 0 15px;
}
.data_title {
    color: #ccc;
    /* 文字間距 */
    letter-spacing: 3px;
    /* 文字置中 */
    text-align: center;
}
.card_data > hr {
    width: 300px;
    margin: 10px auto;
}
.card_data > h3 {
    text-align: center;
    /* 文字大小 */
    font-size: 24px;
}
.data_content {
    margin: 30px 0;
}
.card_data > a {
    /* 移除底線 */
    text-decoration: none;
    color: #ccc;
    display: block;
    width: 130px;
    /* 框線 現的粗度 線條樣式 顏色*/
    border: 1px solid #ccc;
    margin: 0 auto;
    text-align: center;
    /* font-size: 18px; */
    padding: 10px 30px;
    transition: 0.5s;
}
/* 觸摸到a連結 do something */
.card_data > a:hover {
    color: #fff;
    background-color: #ccc;
}

/* lesson3 */
.lesson3 {
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url(./img/bglesson3.jpeg);
    background-attachment: fixed;
}
.lesson3 > h3 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 10px;
    padding: 58px 0;
    backdrop-filter: blur(5px) opacity(80%);
    transition: 0.5s;
}
.lesson3 > h3:hover {
    backdrop-filter: blur(0px) opacity(100%);
}
/* 頁尾 */
footer{
    background: #252525;
    color: #fff;
    padding: 100px;
    text-align: center;
}
.ft_title{
    /* size 16px */
    font-size: 20px;
    /* 文字間距 */
    letter-spacing: 10px;
    transition: 0.5s;
}
.ft_title:hover{
    color: #ccc;
}
.foot_img{
    margin: 10px 0;
}
.foot_img > a > img{
    width: 40px;
    height: 40px;
    
}